services:
  product:
    build: microservices/product-service
    mem_limit: 512m
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  recommendation:
    build: microservices/recommendation-service
    mem_limit: 512m
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  review:
    build: microservices/review-service
    mem_limit: 512m
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  product-composite:
    build: microservices/product-composite-service
    mem_limit: 512m
    expose:
      - "8080"
    environment:
      - SPRING_PROFILES_ACTIVE=docker

  test-runner:
    image: eclipse-temurin:24-jdk
    restart: "no"
    networks:
      - default
    volumes:
      - .:/app
    working_dir: /app
    entrypoint: [ "/bin/sh", "-c" ]
    command: |
      chmod +x test-em-all.sh &&
      HOST=product-composite ./test-em-all.sh

networks:
  default:
    external: true
    name: gitlab-net

